.question {
    background-color: var(--background-color-card);
    border-radius: 30px;
    margin-top: calc(var(--module) * 2);
    padding: calc(var(--module) * 2) calc(var(--module) * 7) calc(var(--module) * 2) calc(var(--module) * 3.5);
}

.question[open] {
    .answer{
        animation: sweep .5s ease-in-out;
    }
}

.answer {
    font-size: 16px;
    margin-top: calc(var(--module) * 2);
    & *:last-child {
        margin-bottom: calc(var(--module) * 2.5) !important;
    }
}

.question-container {
    display: block;
    cursor: pointer;
    width: 100%;
    border: none;
    position: relative;

    &::after {
        content: '+';
        font-size: 50px;
        position: absolute;
        top: -5px;
        transform: translate(0, -50%);
        right: -35px;
        display: inline-block;
        width: 22px;
        height: 23px;
    }

    &::-webkit-details-marker,
    &::marker{
        display: none;
    }
}

@keyframes sweep {
    0%    {opacity: 0; transform: translate(-10px, 0);}
    100%  {opacity: 1; transform: translate(0);}
}
