---
import type {faqType} from "./faq_data.ts"
import "./faq-element.css"

interface Props{
    faqElem: faqType
}

const {faqElem} = Astro.props;
---

<>
    <details class="question">
        <summary class="question-container">
            {faqElem.question}
        </summary>
        <div class="answer">{faqElem.answer}</div>
    </details>
</>
