---
import {faqData} from "./faq_data";
import FAQElement from "./faq-element.astro"
---
<div>
    <h2 class="title_left">FAQ</h2>
    <div class="faq">
        {
            faqData.map(faq =>
                    <FAQElement faqElem={faq}/>
            )
        }
    </div>
</div>

<style>
    .faq {
        margin: 0 19px;
        display: flex;
        flex-direction: column;
        gap: 15px
    }
</style>


