.form {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-image: url("../../assets/background-form.png");
    padding-bottom: 0;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.title {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    margin-bottom: 23px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 45px;
    margin-left: 18px;
}

.input-field, .input-field:valid, .input-field:focus {
    width: 190px;
    height: 28px;
    border: 1px solid var(--additional-color);
    border-radius: 10px;
    background-color: transparent;
    font-size: 15px;
    font-weight: inherit;
    padding: 14px 14px 14px 10px;
}

.input-field::placeholder {
    color: var(--additional-color);
    font-size: 15px;
    font-weight: 400;
}

input:-webkit-autofill {
    transition: all 5000s ease-in-out;
}

.select__contacts {
    height: 32px;
    width: 192px;
    border: 1px solid var(--additional-color);
    border-radius: 10px;
    background-color: transparent;
    color: var(--additional-color);
    font-size: 15px;
    font-weight: inherit;
    padding-left: 10px;
}

.contacts__item {
    color: var(--additional-color);
    background-color: var(--background-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
}

.button {
    background-color: #656054;
    border-radius: 10px;
    padding: 12px 60px;
    margin: auto;
}

.button:hover {
    background-color: #756f62;
}

.checkbox-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.checkbox-wrapper input {
    position: absolute;
    opacity: 0;
}

.checkbox-wrapper label {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    user-select: none;
    text-wrap: nowrap;
    font-size: 15px;
}

.checkbox-wrapper span {
    position: absolute;
    top: -1px;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: var(--background-color);
    border-radius: 50%;
    border: var(--additional-color) 1px solid;
}

.checkbox-wrapper label input:checked ~ span {
    background-color: var(--background-color);
    border: var(--additional-color) 1px solid;
    width: 21px;
    height: 21px;
}

.checkbox-wrapper span:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-wrapper label input:checked ~ span:after {
    display: block;
}

.checkbox-wrapper label span:after {
    top: 3px;
    left: 3.5px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--additional-color);
}

.button__description {
    display: flex;
    flex-direction: row;
    gap: 4px;
    position: relative;
    margin: 10px auto auto;
}

.description__arrow {
    position: relative;
    bottom: 8px;
}

.description__text {
    font-size: 15px;
}

.contacts__container {
    position: relative;
}

.input__contacs {
    border: none;
    max-width: 160px;
    height: 26px;
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 1;
    background-color: transparent;
}

.contacts__text-hider {
    background-color: var(--background-color);
    position: absolute;
    top: 3px;
    width: 100px;
    left: 5px;
    height: 24px;
    z-index: 0;
}