
.carousel {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.carousel__checkbox-wrapper {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 20px auto auto;
}

.carousel__checkbox-wrapper input {
    position: absolute;
    opacity: 0;
}

.carousel__checkbox-wrapper label {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    user-select: none;
}

.carousel__checkbox-wrapper span {
    position: absolute;
    top: -1px;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: var(--background-color);
    border-radius: 50%;
    border: var(--additional-color) 1px solid;
}

.carousel__checkbox-wrapper label input:checked ~ span {
    background-color: var(--background-color);
    border: var(--additional-color) 1px solid;
    width: 21px;
    height: 21px;
}

.carousel__checkbox-wrapper span:after {
    content: "";
    position: absolute;
    display: none;
}

.carousel__checkbox-wrapper label input:checked ~ span:after {
    display: block;
}

.carousel__checkbox-wrapper label span:after {
    top:  3px;
    left: 3.5px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--additional-color);
}