---
import Form from '../components/form/form';
import VideoCarousel from '../components/video-carousel/video-carousel';
import Layout from "../layouts/Layout.astro";
import Header from '../components/header/header.astro';
import Subscriptions from "../components/subscriptions/subscriptions";
import Groups from "../components/groups/groups.astro";
import Place from "../components/place/place.astro";
import Faq from "../components/faq/faq.astro";
---

<Layout title="High heels">
    <main class="content">
        <Header/>
        <Subscriptions client:load/>
        <Groups/>
        <Form client:load/>
        <VideoCarousel client:load/>
        <Faq/>
        <Place/>
    </main>
</Layout>

<style is:global>
    @font-face {
        font-family: Montserrat, serif;
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }

    :root {
        --text-color: #EFEDE2;
        --background-color: #454136;
        --additional-color: #ADA89B;
        --background-color-card: #524D40;
        --additional-color-info: #656054;
        --module: 8px;
    }

    * {
        box-sizing: border-box;
    }

    html, body {
        padding: 0;
        margin: 0 0 50px;
        font-size: 20px;
        font-weight: 400;
        font-family: Montserrat, serif;
        color: var(--text-color);
        background-color: var(--background-color);
    }

    button, input {
        font-size: inherit;
        font-family: inherit;
        color: inherit;
        background: none;
        border: none;
    }

    .content {
        display: flex;
        max-width: 600px;
        flex-direction: column;
        margin: 0 auto;
        gap: 40px;
    }

    .title_left {
        font-weight: 400;
        font-size: 30px;
        color: var(--text-color);
        margin-bottom: 23px;
        margin-left: 19px;
    }
</style>
