.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .7);
    z-index: 1000;
}

.modal__content {
    position: relative;
    top: 50%;
    font-size: 18px;
    transform: translate(0, -50%);
    border-radius: 8px;
    margin: auto;
    width: fit-content;
    padding: 30px 50px 30px 30px;
    z-index: 2;
    background-color: var(--background-color);
    text-wrap: nowrap;
}

.modal__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 18px;
    cursor: pointer;
}