---

---
<div>
    <h2 class="title_left">Место</h2>
    <div class="place__container">
        <section data-yamap id="map" class="map"/>
        <div class="adress">
            <p class="adress-item">г. Екатеринбург</p>
            <p class="adress-item">БЦ Высоцкий</p>
        </div>
        <div class="contacts">
            <img class="instagram" width="33px" src="./insta.png"/>
            <img class="instagram" width="33px" src="./telegram.png"/>
        </div>

    </div>
</div>

<script>
    // ToDo утащить в src/assets/js  или прямо тут вставить
    import "../../assets/place.js";
</script>
<style>
    .map {
        width: 190px;
        height: 238px;
        position: absolute;
        right: 0;
    }

    .place__container {
        position: relative;
        height: 238px;
        margin-left: 19px;
    }

    .contacts {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        gap: 19px;
    }

    .address {
        position: absolute;
        top: 0;
        left: 0;
    }

    .address-item {
        margin: 0;
        font-size: 15px;
    }
</style>
