---
import './header.css';
import {Image} from 'astro:assets';
import Logo from '../../assets/logo.png';
import Video from '../../assets/bg-video.mp4';
---

<header class="header">
    <div class="header__multimedia">
        <video class="header__multimedia_video"
               poster='./background-header.png'
               width="100%"
               height="100%"
               muted
               loop
               playsinline
               controls
        >
            <source src={Video}
                    type="video/mp4"/>
        </video>
    </div>
    <dl class="header__logo">
        <dt>
            <Image class="header__logo_img" src={Logo} alt=""/>
        </dt>
        <dd class="header__logo_title"> Преподаватель High Heels</dd>
    </dl>
    <span class="header__description"> Буду делиться своим творчеством, конечно, баловаться, хохотать и быть секси. Все что мы так любим – в самом центре Екб!</span>
</header>
