.header {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.header__multimedia_img, .header__multimedia_video {
    width: 100%;
    display: flex;
    margin: 0 auto;
    cursor: pointer;
}

.header__multimedia_video {
    margin: auto auto min(25vw, 120px);
}

.header__logo {
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: -90px auto 35px;
    gap: 3px;
}

.header__logo_img {
    width: 291px;
    height: 75px;
    margin: auto;
    display: flex;
}

.header__logo_title {
    text-wrap: nowrap;
    margin: auto;
    display: flex;
}

.header__description {
    margin-left: 18px;
    width: 368px;
    word-wrap: break-word;
}

#ofc video {
    object-fit: cover;
}

#off video {
    object-fit: fill;
}