.card {
    background-color: var(--background-color-card);
    height: 139px;
    width: 121px;
    border-radius: 10px;
}

.card__content {
    margin: 24px 10px;
}

.card__name {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.card__description {
    margin-top: 10px;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card__name__info {
    width: 12px;
    position: absolute;
    top: -6px;
}

.card__name__info:hover {
    cursor: pointer;
}

.card__name__info-modal {
    width: 150px;
    background-color: var(--additional-color-info);
    border-radius: 10px;
    height: 60px;
    position: absolute;
    top: -80px;
    margin-left: 15px;
    z-index: 1;
    font-size: 12px;
    line-height: 12px;
    padding: 10px 15px;
}

.card__info {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

