---
---
<div>
    <h2 class="title_left">Группы</h2>
    <div class="groups">
        <div class="group">
            <h3 class="group__name">Начики</h3>
            <p class="group__description">Ничего не понятно, но очень интересно! Группа для тех, кто имеет небольшой
                опыт или никогда не танцевал,
                но есть большое желание развития в танцах</p>
        </div>
        <div class="group">
            <h3 class="group__name">Pro</h3>
            <p class="group__description">Если ты давно танцуешь и у тебя есть танцевальный опыт, ты хочешь улучшить
                свой танцевальный скилл,
                готов рисковать и пробовать новое, тогда тебе точно сюда</p>
        </div>
    </div>
</div>

<style>
    .group {
        gap: 5px;
    }

    .group__name {
        font-size: 25px;
        margin: 0;
    }

    .group__description {
        margin: 0;
        font-size: 15px;
    }

    .groups {
        margin: 0 19px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
</style>
