---
interface Props {
    title: string;
}

const {title} = Astro.props;
---

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <meta property="og:image"
          content="https://avatars.mds.yandex.net/get-kinopoisk-image/4774061/c0c94799-c796-4b65-ae68-9cf3f8e0998b/1200x630"/>
    <meta property="og:description" content="Мы пока картинку, иконку и описание от заказчика"/>
    <meta property="og:site_name" content="High heels. Валентина Попова"/>
    <meta property="og:type" content="website"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
</head>
<body>
<slot/>
</body>
</html>